---
import '../../src/styles/globals.css';
import '@fontsource/asap/400.css';
import '@fontsource/asap/800.css';
import asapFont400 from '@fontsource/asap/files/asap-latin-400-normal.woff2?url';
import asapFont800 from '@fontsource/asap/files/asap-latin-800-normal.woff2?url';

import Header from '../components/Header.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
const description = 'Tarjeta de presentación interactiva del Dr. José Pérez Rodríguez, urólogo especializado en niños y adolescentes';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- Meta tags de Open Graph -->
        <meta property="og:title" content={title}>
        <meta property="og:description" content={description}>
        <meta property="og:image" content="https://drjoseperez.netlify.app/thumbnail.png">
        <meta property="og:url" content="https://drjoseperez.netlify.app/">
        <meta property="og:type" content="website">
        <!-- Meta tags de Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content={title}>
        <meta name="twitter:description" content={description}>
        <meta name="twitter:image" content="https://drjoseperez.netlify.app/thumbnail.png">
        <meta name="twitter:url" content="https://drjoseperez.netlify.app/">
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="preload" as="font" type="font/woff2" href={asapFont400} crossorigin />
        <link rel="preload" as="font" type="font/woff2" href={asapFont800} crossorigin />
    </head>
    <body class="antialiased text-white bg-light-grey">
        <div class="flex h-screen items-center">
        <img src="/images/giant-blue-shape.svg" alt="Forma gigante de color azul en forma de riñoncito" class="absolute top-0 right-0 z-0 h-screen" />
        <img src="/images/giant-yellow-shape.svg" alt="Forma gigante de color amarillo en forma de riñoncito" class="absolute bottom-0 left-0 z-0 h-screen" />
            <div class="flex h-fit md:h-card max-w-md mx-auto grow px-6 relative bg-white shadow-card-shadow md:rounded-card">
                <img src="/images/blue-shape.svg" alt="Forma de color azul en forma de riñoncito" class="absolute top-0 right-0 z-0 w-full" />
                <img src="/images/yellow-shape.svg" alt="Forma de color amarillo en forma de riñoncito" class="absolute bottom-0 left-0 z-0 w-full" />
                <div class="z-10">
                    <Header />
                    <main class="grow"><slot /></main>
                </div>
            </div>
        </div>
    </body>
</html>